*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recipe {
  width: 550px;
  background: #f3f3f3;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  flex: 2 2 auto;
  color: #252525;
}

.recipe .recipe-header {
  display: flex;
  flex-direction: row;
}

.recipe img {
  width: 170px;
  object-fit: cover;
}

.recipe .recipe-brief {
  margin-left: 1.5rem;
  text-align: left;
}

.recipe .header-description {
  color: #444a54;
  font-size: 0.9rem;
}

.recipe:hover {
  box-shadow: 2px 2px 5px #656464;
}
